* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --BGColor: #2b2b27;
    --BtnColor: #dc412a;
    --btnHover:#b12c18;
    --fontColor: #dc412a;
    --borderColor: #edcb85;
    --logoFont: 'DroidLogo', sans-serif;
    --fontGenral: 'League Spartan', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--BGColor);
}
body h2{
    font-family: var(--logoFont);
    color: var(--fontColor);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
}
.sth2{
    top: 35%;
    transition: top 0.5s;
}
.container{
    width: 400px;
    padding: 25px;
    background-color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--borderColor);
}
.inputFeild{
    width: 100%;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--BGColor);
    
}

.error{
    animation: shake 0.1s linear 10;
    border: 2px solid var(--btnHover);
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

.container button{
    width: 100%;
    padding: 10px;
    font-family: var(--fontGenral);
    font-size: 1.5rem;
    background-color: var(--BtnColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}
.container button:hover{
    background-color: var(--btnHover);
}
.displayFeild{
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    border-radius: 5px;
}
.qrImg{
    width: 100%;
    padding: 10px;
    
}
.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid var(--borderColor);
}

footer{
    color: var(--fontColor);
    font-family: var(--fontGenral);
    position: fixed;
    bottom: 5%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */

@media (max-width: 800px){
    body h2{
        top: 35%;
        font-size: 4rem;
    }
    .sth2{
        top: 25%;
    }

    footer{
        text-align: center;
        width: auto;
        font-size: 1.4rem;
    }
    .inputFeild{
        width: 100%;
        height: 2.5rem;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid var(--BGColor);
        font-size: 1.1rem;
}   
}

@media (max-width: 500px){
    body h2{
        top: 30%;
        font-size: 2.5rem;
    }
    .sth2{
        top: 15%;
    }

    footer{
        text-align: center;
        width: auto;
        font-size: 1rem;
        
    }
    .inputFeild{
        width: 100%;
        height: 2.5rem;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid var(--BGColor);
        font-size: 1rem;
    }   
    .container{
        width: 350px;
        padding: 20px;
        background-color: #fff;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: var(--borderColor);
        
}
}